/*MAIN*/
#blog {
	max-width: 1200px;
	background-color: #fafafa;
	padding: 25px 0;
	margin: 0 auto;
	h2 img {
		width: auto;
		height: auto;
	}
	div article {
		display: flex;
		flex-direction: row-reverse;
    /*flex-direction: column;*/
    justify-content: space-between;
    position: relative;
    /*width: 100%;*/
    /*max-width: 1200px;*/
    width: 550px;
    /* height: 400px; */
    margin: 0 auto 40px auto;
    text-align: center;
    /*background-color: #e0ffffae;*/
    background-color: #fafafa;
    /*border-radius: 15px;*/
    /* border: 1px solid; */
    overflow: hidden; 
    border-radius: 20px;
    box-shadow: 0 8px 24px #1111111e;
    /*padding: 40px;*/

    div {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	/*width: 300px;*/
    	width: 60%;
    	margin: 10px auto;
    	/*border: 1px solid green;*/
    
    		h4 {
      		text-align: left;
          text-decoration: underline;
          max-width: 80%;
          margin: 0 auto;
          padding: 0;

      	}

      	p {
				  /*line-height: none;*/
				  font-size: .8rem;
	  			max-width: 80%;
	        margin: 0 auto;
	        margin-block: 1lh;
	        padding: 0;
	        text-align: left;
	        /*text-wrap: balance;*/
	        text-wrap-style: pretty;
	        hyphenate-limit-chars: 5;
	        hyphens: auto;
	        display: -webkit-box;
	        -webkit-line-clamp: 3;
	        -webkit-box-orient: vertical;
	        overflow: hidden;
	        align-items: center;

	      }

	      span {
		    	display: block;
		    	text-align: right;
		    	/*margin-right: 10px;*/
		    	width: 80%;
		    	margin: 0 auto;
		    }

		    button {

            background: none;
            border: 1px solid var(--brand-color);
            width: fit-content;
            /* padding: 0; */
            border-radius: 11px;
            margin: 0 30px 0 auto;
            a {
            	color: var(--brand-color);
            }

		    }
	  }

    picture {
    	display: flex;
    	/*width: 200px;*/
    	width: 40%;
      height: 260px;
      /*border: 1px solid;*/
      /*margin: 0 auto;*/
      overflow: hidden;
      align-items: center;
      gap: .7em;
      border-radius: 15px;
    }
  }
}

#blog img {
	width: 100%;
	height: 100%;
	/*max-height: 600px;*/
	object-fit: fill;
}

.tips__text {
	display: flex;
	width: auto;
	height: auto;
	justify-content: center;
/*	align-items: center;*/
/*	font-size: 1.2rem;*/
	gap: 1em;
	margin-bottom: 2em;
}

.tips__text > article {
/*	line-height: 1em;*/
	max-width: 500px;
	height: auto;
	text-align: left;

}

.tips__text .content__text {
	display: flex;
	position: relative;
	flex-direction: column;
	/*text-align:justify;*/
	margin-block: 1lh;
/*	justify-content: space-between;*/
/*	border: 1px solid black;*/
	width: auto;
	max-height: 350px;
	margin-bottom: 50px;
	p {
		margin: 0;
		padding: 0;
	}
	/*overflow-x: scroll;*/
	/*scrollbar-width: none;*/
}

.content__items {
	/*display: grid;
	position: relative;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;*/
	gap: .15em;
	min-width: 300px;
	/*width: auto;*/
	div {
			display: flex;
	    position: relative;
	    gap: 4px;
	    height: auto;
	    width: 100%;
	    /*max-width: 400px;*/
	    align-items: center;
	    /*margin: 20px auto;*/
		}
/*	border: 1px solid black;*/
}

#advice {
	display: flex;
	flex-direction: column;
	max-width: 1080px;
	/*text-align: justify;*/
	justify-content: center;
/*	font-size: 1.2rem;*/
}

/*.A {
	max-width: 300px;
	height: 300px;
	margin: auto;
} 

.B {
	max-width: 300px;
	height: 300px;
	margin: auto;
}

.C {
	max-width: 300px;
	height: 300px;
	margin: auto;
}*/

/*.A:hover,.B:hover,.C:hover {
	flex: 3;
}*/

.item {
	/*flex:1;
	position: relative;
	display: flex;*/
	width: 300px;
	height: 350px;
	overflow: hidden;
}


.item img {
/*	flex: 1;*/
	display: block;
	width: 100%;
	height: 100%;
/*	object-fit: fill;*/
	border-radius: 5px;
}

.item:hover img {
	flex:3;
	scale: 1.2;
	transition: all .8s ease-in-out;
}

.item:not(:hover) img {
	transition: all .4s ease-in-out;
}

/*
.item img:hover {
	flex: 3;
	cursor: pointer;
}
.bi-heart-fill {
	color: var(--brand-color);
}


/*
.form__main {
	display: flex;
	position: relative;
	flex-direction: column;
}*/
/* .bi-youtube {
	color: #c4302b;
}*/

/*.bi-facebook {
	color: #3b5998;
}*/
/*#inst {
	display:block; 
	height:50px; 
	margin:0 auto 12px; 
	width:50px;
	background-image: url('../img/inst.svg');
}*/
/*.ads {
	display: grid;
	overflow: hidden;
	place-content: center;
}

.card {
	border: 1px solid black;
	width: auto;
	height: auto;
	margin: 0;
	padding: .3em;
}

.card-body {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 3em;
	justify-content: center;
}
.form__main {
	display: flex;
	position: relative;
	justify-content: center;
	width: auto;
	margin: 0 auto;
	height: auto;
}
.form__main .form-group {
	display: flex;
	position: relative;
	justify-content: left;
	width: auto;
	height: auto;
}
.comment__button {
	width: auto;
}

.form-control {
	display: flex;
	position: relative;
	justify-content: center;
}
*/

@media screen and (max-width: 768px) {
	
	.tips__text {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		justify-content: center;
		place-content: center;
/*		gap: 2em;*/
	}

	.tips__text .content__text{
		width: 100%;
		margin: 20px auto;
	}

	#advice {
		max-width: 500px;
		margin: 20px auto;
	}

	/*.A,.B,.C{
		max-width: 100%;
	}*/
	.slider {
		padding: 0;
	}

	.content__items {
		position: relative;
		/*position: relative;
		width: 45rem;
		height: 25rem;*/	
		/*display: flex;
		position: relative;
		min-width: 400px;*/
		/*width:600px;*/
		scrollbar-width: none;
	  overflow-x: auto;
	  overflow-y: hidden;
	  scroll-snap-type: x mandatory;
	  overscroll-behavior-x: contain;
	  scroll-behavior: smooth;
	  margin: 0 auto;
  	/*place-content: center;*/
  	max-width: 100vw;
  	height: 400px;
  	/*min-width: 400px;*/
	  /*border: 1px solid;*/
	  /*margin: 0 auto;*/
	  /*place-content: center;*/
		/*padding: 0 10em;*/
		/*margin-top: 2em;*/
		/*margin: 2em auto;*/
		/*border: 1px solid darkred;*/
		/*min-width: auto;*/
		/*min-width: auto;*/
		div {
			display: flex;
	    position: relative;
	    gap: 4px;
	    height: auto;
	    width: auto;
	    max-width: 100%;
	    /*max-width: 400px;*/
	    align-items: center;
	    /*margin: 20px auto;*/
		}

	}

	 .item {
	 	display: inline-block;
      /*flex-direction: column;*/
      scroll-snap-align: center;
      scroll-snap-stop: always;
      width: 100vw;
      /*border: 1px solid;*/
      height: 300px;
      /*border: 1px solid yellow;*/
      border-radius: 10px;
      background-color: #e0ffffae;
      min-width: stretch;
	}

	.item img{
		/*flex:0 0 100%;*/
		/*display: block;*/
		/*position: relative;*/
		/*height: 100%;*/
		width: 100%;
		/*position: absolute;*/
		/*left: 0;*/
		/*scroll-snap-align: center;*/
		/*width: 100%;*/
		object-position: center;
		/*min-width: 400px;*/
		object-fit: contain;
		border-radius: 10px;
		/*border: 1px solid red;*/
	}

	/*#blog img {
		object-fit: fill;
	}*/

	#blog {
		div article {
			width: 100%;
			padding: 0 10px;
			/*figure {
				padding: 10px;
				margin: 0;
				figcaption {
					p {
						max-width: 80%;
					}
				}
			}*/
		}
	}


	/*#blog img {
		width: 120px;
		height: auto;
	}*/
}