@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--padding-container: 100px 0;
	--color-title: #001A49;
/*	--show: block;*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	border: 1px solid black;*/
}

html, body {
	 font-family: "Open Sans", sans-serif;
	width: 100%;
	font-style: normal;
/*	min-height: 100lvh;*/
}

header {
	min-height: 100lvh;
	min-height: 100dvh;
/*	border: 1px solid black;*/
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 10px;
	text-align: center;
}

textarea {
	padding: 0;
  min-height: 3.75em;
	field-sizing: content;
}

/*input[type="text"], 
input[type="password"], */
input[type="email"], textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #c9c9c9;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}


.container {
	width: 100%;
	max-width: 2800px;
	margin: 0 auto;
	overflow: hidden;
	padding: var(--padding-container);
}


.hero {
	width: 100%;
	height: auto;
	height: 40dvh;
	min-height: 500px;
	max-height: 80lvh;
	position: relative;
	display: grid;
	grid-template-rows: 100px 1fr;
	align-items: center;
/*	border: 1px solid black;*/
}

.hero:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg, #8F97798c 0%, #ffffff8c 100%), url('../../favicons/resize/banner.jpg');
	background-size: 100% 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	object-fit: fill;
/*	clip-path: polygon(0 0, 100% 89%,100% 100%, 50% 77%, 0 80%);*/
	z-index: -1;
/*	border: 1px solid red;*/
/*	align-items: center;*/
/*	filter: blur(10px);*/
/*	z-index: -1;*/
}

.nav {
	--padding-container: 0;
	padding: 0 5%;
/*	width: 100%;*/
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
	background-color: #fff;
}

.nav__logo {
	background-image: url('../../favicons/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
/*	padding: .9em;*/
	aspect-ratio: 3/2;
	width: 200px;
	height: 200px;
	mix-blend-mode: darken;
/*	border-radius: 30em 10em 30em 10em;*/
}
/*
.nav__logo img {
	aspect-ratio: 3/2;
	background-size: contain;
	mix-blend-mode: darken;
	width: 100%;
	height: 100%;
}
*/
/*.nav__title {
	font-size: .6rem;
	font-weight: 300;
	color: #111;
}*/

.nav__link {
	display: grid;
	margin-left: auto;
	padding: 0;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 1.5em;
	font-weight:500;
	align-items: center;
	letter-spacing: .05rem;
	color: #2b2b2b;
}

.nav__items {
	list-style: none;
	font-size: 0.7rem;
	border-bottom:2px solid #30303000;
}

.nav__link .active {
  padding: 0.3em;
  border-bottom: 2px solid #1c1c1c;
  opacity: 0.7;
}

.nav__items:hover:not(.active) {
  top: 100%;  
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #30303080;
}

.nav__links {
	color: #1b1b1b;
	text-decoration: none;
}

.nav__menu {
/*	display: block;*/
/*	border: 1px solid black;*/
	margin-left: auto;
	cursor: pointer;
	display: none;
}

.nav__img {
	display: block;
	width: 30px;
}

.nav__close {
	display: var(--show, none);
}

/*Hero Container*/

.hero__container {
	max-width: 800px;
	display: grid;
/*	position: absolute;*/
	--padding-container: 0;
	grid-auto-rows: max-content;
/*	border: 1px solid black;*/
	align-content: center;
	gap: 1em;
	/*	padding-bottom: 50px;*/
	padding: 0 2em 0.4em;
	height: fit-content;
	bottom: 30%;
	margin: 0 auto;
	text-align: left;
	justify-content: center;
}

.hero__title {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	color: #fff;
	filter: drop-shadow(1px 1px #0000118c);
}


.hero__paragraph, 
.hero__paragraph a {
	text-decoration: none;
	margin-bottom: 20px;
	color: #fff;
	filter: drop-shadow(1px 1px #0000118c);
}

/*FOOTER*/
.foot {
	background-color: rgb(90 200 90 / 0.7);
	width: 100%;
	height: 50px;
}

.foot__socialicon {
	display: flex;
	gap: 1.5em;
	margin: 1.5em;
	padding: .5em;
	justify-content: space-between;
}

.bi-tiktok {
	font-size: 1.4rem;
  	color: #111111;
  	padding: .1em;
  	filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.bi-tiktok::after {
	filter: drop-shadow(5px 5px 0 #F70250) contrast(150%) brightness(110%);
  	z-index: -1;
}

.bi-instagram {
	font-size: 1.4rem;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
  	padding: .1em;
 }

.bi-facebook {
 	font-size: 1.4rem;
/* 	color: #1b1b1b;*/
 }

 .bi-instagram:hover, 
 .bi-tiktok:hover, 
 .bi-facebook:hover {
/* 	display: flex;*/
/* 	position: relative;*/
 	padding: .4em;
 	scale: 1.2;
 	transition: all .5s ease-in-out;
 }

 .email__content {
 	display: flex;
 	position: relative;
 	align-items: end;
 }

.email__content a{
	display: flex;
	position: relative;
	font-size: .7rem;
	text-decoration: none;
	color: #303030;
/*	letter-spacing: .1em;*/
	align-items: center;
	gap: .1em;
}

.email__content a:hover{
	color: #f9f9f98c;
	scale: 1.1;
	transition: all .6s ease-in-out;
}

.email__content a:not(:hover){
	transition: all .6s ease-in-out;
}

#email-icon {
/*	color: #fff;*/
	width: 15px;
	height: 15px;
}


.copyright {
	font-size: .6rem;
	text-align: center;
}

/*.card {
	display: grid;
	position: relative;
	place-content: center;
	width: auto;
	height: auto;
}*/

.card-body {
	display: flex;
	position: relative;
	justify-content: center;
	background-image: linear-gradient(180deg, #8F97798c 0%, #ffffff8c 100%), url('../img/resize/wasnotajoke.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	padding: 1em;
	border: 1px solid black;
/*	justify-content: center;*/
}

.card-body form {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
/*    position: relative;*/
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3em);
/*    margin: -1.5em 0 2em -1.5em;*/
    background-color: #fffffff1;
/*    justify-content: center;*/
	padding: 1em;
	border-radius: 10px;
	margin: auto;
	height: calc(50% + 3em);
}


.card-header h5 {
	font-size: 1.2rem;
	background-color: #30303006;
	margin-top: .3em;
	font-weight: 900;
}

.form-group {
	-moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 1.5em 0 0 1.5em;
  width: calc(100% - 1.5em);
}

/*.form-group input,
.form-group textarea {
	position: relative;
	flex-direction: column;
	border-radius: 5px;
	opacity: .9;
}*/


/* .bi-youtube {
	color: #c4302b;
}*/

/*.bi-facebook {
	color: #3b5998;
}*/
/*#inst {
	display:block; 
	height:50px; 
	margin:0 auto 12px; 
	width:50px;
	background-image: url('../img/inst.svg');
}*/
.ads {
	display: grid;
	overflow: hidden;
	place-content: center;
}


.contact__pol {
	display: grid;
	position: relative;
	max-width: 700px;
	height: 200px;
	place-content: center;
/*	background-color: #303030;*/
	margin: 0 auto;
}

.contact__pol iframe {
	border: 2px solid #808080;
	border-radius: 10px;
	max-width: 600px;
	height: 100%;
}

.poldepriv a {
	font-size: .7rem;
	color: #909090c8;
}


@media screen and (max-width: 768px) {

	.hero:before {
		background-size: 100% 100%;
		background-position: center;
		object-fit: fill;
	}

	.hero__title {
		font-size: 2rem;
	}

	.gallery__contain--img {
		width: 100%;
		margin: 0;
		place-content: start;
	}

	.nav__collapse {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
/*		flex-direction: column;*/
/*		border: 1px solid black;*/
/*		align-items: center;*/
	}

	.nav__menu {
		display: block;
		position: relative;
/*		color: #111;*/
/*		border: 1px solid black;*/
		/*width: 100%;
		height: auto;*/
		border: none;
		background: none;
	}

	.nav__img {
/*		color: #111;*/
		background-color: #30303040;
	}

	.nav__link {
		display: flex;
		position: fixed;
		flex-direction: column;
		background-color: #fff;
		color: #2c2c2c;
		text-align: center;
		width: 100%;
		height: 60vh;
		place-content: center;		
		/* top: 0; */
		left: 0;
		z-index: 6000;
	}

	.nav__link--menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		height: 80vh;
		top: 0;
/*		color: #1c1c1c;*/
		background-color: #fff;
		/*grid-auto-flow: none;
	grid-auto-columns: none;*/
	}

	.nav__links {
		color: #1c1c1c;
	}

	.nav__link--menu {
		display: none;
	}

	.nav__close {
		display: block;
		position: absolute;
		background: none;
		border: none;
		top: 0;
		right: 0;
		margin: 2em;
	}
}